:root {
    --bg-main: #0c0c0c;
    --accent-main: #79d3d3;
    --accent-second: #caa999;
    --accent-blend-main: #94c5bf;
    --accent-blend-second: #afb7ac;
    --page-content-width: clamp(300px, 100%, 750px);
}

.page-break {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, var(--accent-main), var(--accent-second));
}

html {
    height: 100vh;
    font-family: sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-main);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;
}

header > *, #tab-container, footer{
    width: var(--page-content-width);
}


.page-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
    padding: 10px 0px;
    gap: 10px;
    justify-items: center;
}

.page-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: min(100%, 15ch);
    color: var(--accent-blend-main);
    transition: transform .25s;
    border: 1px solid var(--accent-blend-main);
    border-radius: 15px;

}

.page-nav li:hover {
    transform: scale(1.12);
    cursor: pointer;
}

.page-nav li:active {
    filter: brightness(.75);
}

li.current-tab {
    background-color: var(--accent-main);
    border: none;
    color: var(--bg-main);
}

.page-image {
    width: var(--page-content-width);
}

figcaption {
    font-size: .9rem;
    text-align: center;
}

#tab-container {
    flex: 1 1 auto;
    color: var(--accent-blend-main);
}

#tab-container .headers {
    width: 100%;
    text-align: center;
}
#tab-container p {
    text-align: justify;
    padding: 5px;
}

#tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#tab p {
    padding: 0px 0px;
   margin-left: 5px;
   margin-right: 5px;
}

footer {
    flex: 0 0 auto;
    text-align: center;
    font-size: .9rem;
    color: var(--accent-blend-main);
}

.footer-links {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-content: center;
    justify-content: center;
    gap: 15px;
}

.footer-links > * {
    display: flex;
    align-items: center;
    margin-top: 10px 0px;
}
.link-icon {
    margin: 0px;
    padding: 0px;
    height: fit-content
}


.link-icon path {
    fill: var(--accent-blend-main);

}